.section {
  margin-bottom: 36px;

  & > * ~ * {
    margin-top: 50px;
  }

  &__title {
    font-size: 30px;
    color: #f49910;
    text-transform: capitalize;
    text-align: center;

    & i {
      margin-right: 10px;
      font-size: 40px;
      color: #fddb45;
    }
  }
}
