@import "../../scss/index.scss";

.filter {
  background-color: #fff;
  margin-bottom: 30px;

  &-header {
    border-bottom: solid 1px #dadada;

    .sort {
      padding: 8px 0;
      display: flex;
      justify-content: flex-start;

      &-left {
        min-width: 150px;
        font-weight: 600;
        font-size: 17px;
      }

      &-right {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
      }

      &-btn {
        margin: 0 10px 0 0;
      }
    }

    .sort-btn-active {
      border: solid 1px #3a5dd8;
      color: #fff;
      background-color: #3a5dd8;
      transition: all 0.25s;
    }

    .price-search-btn {
      background-color: #3a5dd8;
      color: #fff;
    }
  }

  &-list {
    padding: 16px;
  }

  .not-found_product {
    width: 200px;
    height: 200px;
  }
}

@include tablet {
  .filter {
    background-color: transparent;
    margin-bottom: 20px;

    &-header {
      border-bottom: solid 1px #dadada;

      .sort {
        padding: 5px 0 0 0;

        &-left {
          min-width: 130px;
        }

        &-btn {
          margin: 0 12px 12px 0;
        }
      }
    }

    &-list {
      padding: 10px;
    }
  }
}
