.loginForm {
  min-height: 100vh;
  display: flex;
  justify-content: center;

  &-title {
    margin-bottom: 20px;
    padding-top: 50px;
  }

  .bg-form {
    max-width: 450px;
  }

  .log {
    padding: 20px;
  }
}
